@using Domain
@model IEnumerable<Book>
@using Web.Models;

@{
    ViewBag.Title = "All Books - A4tab.net";
}

@helper DeleteButton(Book book)
{
    if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Delete", "Delete", new { id = book.Id })   
    }
}
<h1>All Books</h1>
<h4>
    @TempData[Web.Infrastructure.Constants.TempDataMessage]
</h4>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="alltabs">
    @if (!Model.Any())
    {
        <p>No books.</p>
    }

    <ul data-role="listview" data-inset="true">

    @foreach (var item in Model) {
        <li>
            @{ var bookName = string.Format("{0} ({1} {2})", item.Name, MyHelpers.ListCount(item.TabIds), MyHelpers.Pluralize("song", item.TabIds)); }
			@Html.ActionLink(bookName, "Details", new { id = item.Id })
            @DeleteButton(item)
    	</li>
    }
    </ul>
</div>

